button {
    
    background-color: #805215;
    color: white; 
    width: 100px; 
    height: 50px; 


}
header {
    background-color:#FFDBAA; 
    display:flex; 
    flex-wrap: wrap; 
}
h1 text {
    color:#553100; 
    
}
html {
    background-color:#D4A76A; 
}
section {
    display: flex;
    flex-wrap: flex;
     
}
article {
    background-color:white; 
    flex: 200px; 
    
}
element {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}